.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.blog-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Roboto';
  color: black;
  padding: 25px;
  justify-content: center;
}
.blog-details-title {
  font-size: 25px;
  font-weight: bold;
}
.author-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.author-pic {
  width: 30px;
  height: 30px;
  margin: 15px;
}
.details-author-name {
  font-size: 15px;
  margin: 15px;
}
.blog-image {
  width: 100%;
}
.blog-content {
  color: gray;
  font-size: 15px;
}
